.container{
  width: 450px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appointment-card {
  background: #ffffff;
  width: 400px;
  padding: 20px 20px 15px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.appointment-card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #2d3436;
  font-size: 1.5rem;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e9ecef;

}

.details-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.date-section, .time-section {
  flex: 1;
}

.label {
  color: #636e72;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.date, .time {
  color: #686868;
  font-size: 1.1rem;
  font-weight: 600;
}

.status {
  background: #e9ecef;
  color: #575656;
  padding: 6px 11px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-top: 10px;
  display:  inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-left: -2px;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pagination-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.pagination-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.pagination-button:not(:disabled):hover {
  background-color: #0056b3;
}

.flex-div{
  flex-direction: row;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.title{
  margin-bottom: 8px;
  color: #575656;
}

.card-flex{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
