<!-- appointment-list.component.html -->
<div class="container" [style.--conatiner-width]='width'>
  <div *ngIf="appointments.length === 0" class="no-appointments">
    <p>No appointments found. 🎉</p>
    <small>Add new appointments to see them here.</small>
  </div>

  <!--  TODO: It needs pagination and scroll-->
  <div *ngIf="appointments.length > 0" class="flex-bpx">
    <div class="card-flex" *ngFor="let appointment of appointments">
      <div class="appointment-card">
        <h2 class="card-title">{{ appointment.title }}</h2>
        <div class="details-container">
          <div class="date-section">
            <div class="label">Датум</div>
            <div class="date">{{ appointment.date }}</div>
          </div>
          <div class="time-section">
            <div class="label">Време</div>
            <div class="time">{{ appointment.time }}</div>
          </div>
        </div>
        <div class="flex-div">
          <div class="status">
            <img src="../../../../../assets/location.png" height="17" width="17"/>
            <div>{{ appointment.location }}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
