<div class="container">
  <div class="tabs">
    <div class="tab" [class.active]="selectedStatus === 'ongoing'" (click)="changeDisplayProcesses('ongoing')">Ongoing</div>
    <div class="tab" [class.active]="selectedStatus === 'finished'" (click)="changeDisplayProcesses('finished')">Finished</div>
  </div>

  <div *ngIf="selectedStatus">
    <div *ngFor="let process of displayedProcesses; let i = index">
      <div class="card">
        <div class="card-header">
          {{ process.url }}
          <span
            class="refresh-emoji"
            *ngIf="selectedStatus === 'ongoing'"
            (click)="refresh(process.id, i)">🔄</span>
        </div>
        <div class="card-body">
          <p>Type: {{ process.type }}</p>
          <p>Process Type: {{ process.process_type }}</p>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              [class.finished]="process.curr === process.end"
              [style.width]="(process.curr / process.end) * 100 + '%'">
              {{ (process.curr / process.end * 100).toFixed(2) }}%
            </div>
            <span class="progress-end">Total: {{ process.end }}</span>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="empty-message" *ngIf="!getEntries(selectedStatus).length">-->
<!--      No processes found for the selected status.-->
<!--    </div>-->
  </div>
</div>
