<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div class="input-group">
      <label class="input-label" for="input-e_id">E-ID</label>
      <input
        class="input-field"
        type="text"
        id="input-e_id"
        placeholder="Enter your e-ID"
        formControlName="e_id">
      <div *ngIf="submitted && f['e_id'].errors" class="error-message">
        <div *ngIf="f['e_id'].errors['required']">E-ID is required</div>
      </div>
    </div>

    <div class="input-group">
      <label class="input-label" for="input-father_name">Father's Name</label>
      <input
        class="input-field"
        type="text"
        id="input-father_name"
        placeholder="Enter your father's name"
        formControlName="father_name">
      <div *ngIf="submitted && f['father_name'].errors" class="error-message">
        <div *ngIf="f['father_name'].errors['required']">Father's name is required</div>
      </div>
    </div>

    <div class="input-group">
      <label class="input-label" for="input-mother_name">Mother's Name</label>
      <input
        class="input-field"
        type="text"
        id="input-mother_name"
        placeholder="Enter your mother's name"
        formControlName="mother_name">
      <div *ngIf="submitted && f['mother_name'].errors" class="error-message">
        <div *ngIf="f['mother_name'].errors['required']">Mother's name is required</div>
      </div>
    </div>

    <div class="input-group">
      <label class="input-label" for="input-date_of_birth">Date of Birth</label>
      <input
        class="input-field"
        type="date"
        id="input-date_of_birth"
        formControlName="date_of_birth">
      <div *ngIf="submitted && f['date_of_birth'].errors" class="error-message">
        <div *ngIf="f['date_of_birth'].errors['required']">Date of birth is required</div>
        <div *ngIf="f['date_of_birth'].errors['invalidDate']">Please enter a valid date</div>
        <div *ngIf="f['date_of_birth'].errors['futureDate']">Date cannot be in the future</div>
        <div *ngIf="f['date_of_birth'].errors['tooOld']">Please enter a reasonable date of birth</div>
      </div>
    </div>

    <div class="input-group">
      <label class="input-label" for="input-gender">Gender</label>
      <select
        class="input-field"
        id="input-gender"
        formControlName="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div *ngIf="submitted && f['gender'].errors" class="error-message">
        <div *ngIf="f['gender'].errors['required']">Gender is required</div>
      </div>
    </div>

    <div class="input-group">
      <label class="input-label" for="input-living_address">Living Address</label>
      <textarea
        class="input-field"
        id="input-living_address"
        placeholder="Enter your living address"
        formControlName="living_address"></textarea>
      <div *ngIf="submitted && f['living_address'].errors" class="error-message">
        <div *ngIf="f['living_address'].errors['required']">Living address is required</div>
      </div>
    </div>

    <div class="input-group">
      <label class="input-label" for="input-passport_number">Passport Number</label>
      <input
        class="input-field"
        type="text"
        id="input-passport_number"
        placeholder="Enter your passport number"
        formControlName="passport_number">
      <div *ngIf="submitted && f['passport_number'].errors" class="error-message">
        <div *ngIf="f['passport_number'].errors['required']">Passport number is required</div>
      </div>
    </div>

    <div class="input-group">
      <label class="input-label" for="input-id_card_number">ID Card Number</label>
      <input
        class="input-field"
        type="text"
        id="input-id_card_number"
        placeholder="Enter your ID card number"
        formControlName="id_card_number">
      <div *ngIf="submitted && f['id_card_number'].errors" class="error-message">
        <div *ngIf="f['id_card_number'].errors['required']">ID card number is required</div>
      </div>
    </div>

    <div class="flex-div">
      <app-star-button
        [bgColor]="'#ffd9b5'"
        [haveStars]="false"
        [hoverBgColor]="'#fde5cb'"
        [paddingX]="'6px'"
        [paddingY]="'26px'"
        [text]="'Submit'"
        [textColor]="'black'"
        [boxShadow]="'#fec1958c'"
        (buttonClicked)="addUser()"
      >
      </app-star-button>
    </div>
  </form>

  <div *ngIf="addUserSuccess" class="alert alert-success mt-3">
    User information saved successfully!
  </div>

  <div *ngIf="addUserError" class="alert alert-danger mt-3">
    {{ addUserError }}
  </div>
</div>
