<div class="button-group">
  <button
    *ngFor="let tab of tabs"
    class="button"
    [class.active]="tab.value === activeTab"
    (click)="setActiveTab(tab.value)"
  >
    {{ tab.label | translate }}
  </button>
</div>

<div class="content">
  <ng-container *ngIf="activeTab as currentTab">

    <div *ngIf="currentTab === 'task-automation'" class="view active">
      <div class="tab-content-container">
        <h3>{{ 'LANDING_PAGE.TABS.TASK_AUTOMATION_CONTENT.TITLE' | translate }}</h3>
        <p>{{ 'LANDING_PAGE.TABS.TASK_AUTOMATION_CONTENT.DESCRIPTION' | translate }}</p>
        <div class="use-case-cards">
          <div class="use-case-card">
            <div class="use-case-icon">
              <img src="../../../../assets/tabs_images/automation%20(1).png" height="35" width="35"/></div>
            <h4>{{ 'LANDING_PAGE.TABS.TASK_AUTOMATION_CONTENT.CARD1_TITLE' | translate }}</h4>
            <p>{{ 'LANDING_PAGE.TABS.TASK_AUTOMATION_CONTENT.CARD1_DESCRIPTION' | translate }}</p>
          </div>
          <div class="use-case-card">
            <div class="use-case-icon">
              <img src="../../../../assets/tabs_images/calendar%20(1).png" height="32" width="32"/>
            </div>
            <h4>{{ 'LANDING_PAGE.TABS.TASK_AUTOMATION_CONTENT.CARD2_TITLE' | translate }}</h4>
            <p>{{ 'LANDING_PAGE.TABS.TASK_AUTOMATION_CONTENT.CARD2_DESCRIPTION' | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="currentTab === 'multimodal-communication'" class="view active">
      <div class="tab-content-container">
        <h3>{{ 'LANDING_PAGE.TABS.COMMUNICATION_CONTENT.TITLE' | translate }}</h3>
        <p>{{ 'LANDING_PAGE.TABS.COMMUNICATION_CONTENT.DESCRIPTION' | translate }}</p>
        <div class="use-case-cards">
          <div class="use-case-card">
            <div class="use-case-icon">
              <img src="../../../../assets/tabs_images/grow-up.png" height="32" width="32"/></div>
            <h4>{{ 'LANDING_PAGE.TABS.COMMUNICATION_CONTENT.CARD1_TITLE' | translate }}</h4>
            <p>{{ 'LANDING_PAGE.TABS.COMMUNICATION_CONTENT.CARD1_DESCRIPTION' | translate }}</p>
          </div>
          <div class="use-case-card">
            <div class="use-case-icon"><img src="../../../../assets/tabs_images/image (1).png" height="32" width="32"/>
            </div>
            <h4>{{ 'LANDING_PAGE.TABS.COMMUNICATION_CONTENT.CARD2_TITLE' | translate }}</h4>
            <p>{{ 'LANDING_PAGE.TABS.COMMUNICATION_CONTENT.CARD2_DESCRIPTION' | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="currentTab === 'advanced-reasoning'" class="view active">
      <div class="tab-content-container">
        <h3>{{ 'LANDING_PAGE.TABS.REASONING_CONTENT.TITLE' | translate }}</h3>
        <p>{{ 'LANDING_PAGE.TABS.REASONING_CONTENT.DESCRIPTION' | translate }}</p>
        <div class="use-case-cards">
          <div class="use-case-card">
            <div class="use-case-icon">
              <img src="../../../../assets/tabs_images/plan.png" height="35" width="35"/></div>
            <h4>{{ 'LANDING_PAGE.TABS.REASONING_CONTENT.CARD1_TITLE' | translate }}</h4>
            <p>{{ 'LANDING_PAGE.TABS.REASONING_CONTENT.CARD1_DESCRIPTION' | translate }}</p>
          </div>
          <div class="use-case-card">
            <div class="use-case-icon">
              <img src="../../../../assets/tabs_images/idea.png" height="32" width="32"/></div>
            <h4>{{ 'LANDING_PAGE.TABS.REASONING_CONTENT.CARD2_TITLE' | translate }}</h4>
            <p>{{ 'LANDING_PAGE.TABS.REASONING_CONTENT.CARD2_DESCRIPTION' | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="currentTab === 'contextual-understanding'" class="view active">
      <div class="tab-content-container">
        <h3>{{ 'LANDING_PAGE.TABS.UNDERSTANDING_CONTENT.TITLE' | translate }}</h3>
        <p>{{ 'LANDING_PAGE.TABS.UNDERSTANDING_CONTENT.DESCRIPTION' | translate }}</p>
        <div class="use-case-cards">
          <div class="use-case-card">
            <div class="use-case-icon">
              <img src="../../../../assets/tabs_images/chat (1).png" height="35" width="35"/></div>
            <h4>{{ 'LANDING_PAGE.TABS.UNDERSTANDING_CONTENT.CARD1_TITLE' | translate }}</h4>
            <p>{{ 'LANDING_PAGE.TABS.UNDERSTANDING_CONTENT.CARD1_DESCRIPTION' | translate }}</p>
          </div>
          <div class="use-case-card">
            <div class="use-case-icon"><img src="../../../../assets/tabs_images/adaptation.png" height="35" width="35"/>
            </div>
            <h4>{{ 'LANDING_PAGE.TABS.UNDERSTANDING_CONTENT.CARD2_TITLE' | translate }}</h4>
            <p>{{ 'LANDING_PAGE.TABS.UNDERSTANDING_CONTENT.CARD2_DESCRIPTION' | translate }}</p>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
</div>
