@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cal+Sans&display=swap');

.remora-title {
  font-family: "Cal Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 3.8rem;
}
