<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <div class="footer-logo">
          <div class="flex flex-row items-center gap-2">
            <div><img src="../../../../assets/remora.jpeg" height="30" width="30"/></div>
            <div class="remora-title">remora</div>
          </div>
        </div>
        <p class="footer-description">{{ 'LANDING_PAGE.FOOTER.DESCRIPTION' | translate }}</p>
      </div>

      <div class="footer-section">
        <h3 class="footer-heading">{{ 'LANDING_PAGE.FOOTER.LINKS.TITLE' | translate }}</h3>
        <ul class="footer-links">
          <li><a href="#about">{{ 'LANDING_PAGE.FOOTER.LINKS.ABOUT' | translate }}</a></li>
          <li><a href="#services">{{ 'LANDING_PAGE.FOOTER.LINKS.SERVICES' | translate }}</a></li>
          <li><a href="#contact-section">{{ 'LANDING_PAGE.FOOTER.LINKS.CONTACT' | translate }}</a></li>
        </ul>
      </div>

<!--      <div class="footer-section">-->
<!--        <h3 class="footer-heading">{{ 'LANDING_PAGE.FOOTER.CONTACT.TITLE' | translate }}</h3>-->
<!--        <ul class="footer-contact">-->
<!--          <li>{{ 'LANDING_PAGE.FOOTER.CONTACT.EMAIL' | translate }}</li>-->
<!--          <li>{{ 'LANDING_PAGE.FOOTER.CONTACT.PHONE' | translate }}</li>-->
<!--          <li>{{ 'LANDING_PAGE.FOOTER.CONTACT.ADDRESS' | translate }}</li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>

    <div class="footer-bottom">
      <p class="copyright">© {{ currentYear }} Remora. {{ 'LANDING_PAGE.FOOTER.COPYRIGHT' | translate }}</p>
<!--      <div class="social-links">-->
<!--        <a href="#" class="social-link">Facebook</a>-->
<!--        <a href="#" class="social-link">Twitter</a>-->
<!--        <a href="#" class="social-link">LinkedIn</a>-->
<!--      </div>-->
    </div>
  </div>
</footer>
