<div class="flex flex-col justify-center items-center min-h-screen bg-gray-100">
  <form
    class="bg-white p-8 rounded-lg shadow-md w-full max-w-md space-y-4"
    (submit)="register(); $event.preventDefault()"
  >
    <div class="w-full">
      <label class="block text-gray-700 text-sm font-semibold mb-2">Име и презиме</label>
      <input
        type="text"
        name="fullName"
        [(ngModel)]="fullName"
        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
        placeholder="Внесете име и презиме"
        required
      >
    </div>

    <div class="w-full">
      <label class="block text-gray-700 text-sm font-semibold mb-2">Електронска пошта</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
        placeholder="example@mail.com"
        required
      >
    </div>

    <div class="w-full">
      <label class="block text-gray-700 text-sm font-semibold mb-2">Лозинка</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
        placeholder="********"
        required
      >
    </div>

    <div class="w-full">
      <label class="block text-gray-700 text-sm font-semibold mb-2">Повтори лозинка</label>
      <input
        type="password"
        name="passwordAgain"
        [(ngModel)]="passwordAgain"
        class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500"
        placeholder="********"
        required
      >
    </div>

    <div id="buttons" class="flex flex-col justify-center items-center pt-2">
      <button
        type="submit"
        class="inline-flex items-center justify-center px-8 py-3.5 text-m font-semibold
               text-white no-underline transition-all duration-200 bg-gradient-to-r from-[#ff3131] to-[#ff904d]
               rounded-lg hover:scale-105 active:scale-95
               hover:shadow-orange-500/40 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-[200px]"
      >
        Регистрирај се
      </button>

      <button
        type="button"
        class="w-full text-gray-500 text-[12px] pt-2 px-4 rounded-lg transition duration-200 underline"
        (click)="navigateToLink('login')"
      >
        Најави се
      </button>

      <button
        type="button"
        class="w-full text-gray-500 text-[12px] py-1 px-4 rounded-lg transition duration-200 underline"
        (click)="navigateToLink('')"
      >
        Откажи
      </button>
    </div>
  </form>
</div>
