/* Toggle button styles */
.toggle-button {
  cursor: pointer;
}

.banter {
  position: fixed;
  z-index: 1000;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border: none;
  width: 50px;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 15px;
}



/* Sliding bar styles */
.sliding-bar {
  position: fixed;
  top: 0;
  left: -250px; /* Hidden position */
  width: 250px;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.7);
  overflow-y: auto;
  transition: left 0.3s ease;
}

.subheading {
  font-size: 1.2em; /* Larger font size */
  font-weight: bold; /* Make it bold */
  color: #666362; /* A calming blue shade */
  text-align: center; /* Center the text */
  margin: 5px 0; /* Add spacing around it */
  text-transform: uppercase; /* Make the text uppercase for emphasis */
  letter-spacing: 1.5px;
  margin-right: 3px/* Add some spacing between letters */
}


.chat-history-heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.sliding-bar-column{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-history{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 15px;
  padding-left: 30px;
}

.chat-entry:hover {
  cursor: pointer;
}

.sliding-bar.open {
  left: 0; /* Visible position */
}

/* Content area styles */
.content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.sliding-bar.open ~ .content {
  margin-left: 250px; /* Adjust main content when bar is open */
}

.chat-models-segment-2{
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-left: 12px;
}

.breaker{
  height: 100%;
  width: 4px;
  background-color: rgba(211, 211, 211, 1);
}

.breaker1{
  width: 100%;
  height: 2px;
  background-color: rgba(211, 211, 211, 1);
}

.chat-apis{
  height: 100%;
  flex:1;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top:37px;
  gap: 30px;
}

.image-div{
  width: 100%;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-div:hover {
  border-right: 3px solid #666362;
  border-radius: 5px; /* Add a radius */
  cursor: pointer;
}

.image-div.selected {
  border-right: 3px solid #666362;
  border-radius: 5px; /* Add a radius */
}

.chat-models{
  height: 100%;
  flex:5;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.model-list{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-right: 20px;
}

.model-name{
  width:100%;
  text-align: center;
}
.model-name:hover {
  border-bottom: 2px solid #666362;
}

.model-name.selected {
  border-bottom: 2px solid #666362;
}

.all-models{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  padding-top: 15px;
  padding-left: 20px;
}


.chat-model-name{
  width:100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.chat-model-name:hover{
  background-color: rgba(211, 211, 211, 1);
  cursor: pointer;
}
.add-model-input input {
  flex: 1;
  padding: 4px 8px; /* Smaller padding for compactness */
  font-size: 12px; /* Reduced font size */
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.add-model-input input:focus {
  border-color: #007bff;
}

.add-model-input button {
  padding: 2px 8px; /* Reduced padding for a smaller button size */
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-model-input button:first-of-type {
  background-color: rgb(128, 180, 240);
  color: white;
}

.add-model-input button:first-of-type:hover {
  background-color: rgb(148, 200, 260);
}

.add-model-input button:last-of-type {
  background-color: #f4f4f9; /* Red */
  color: white;
}

.add-model-input button:last-of-type:hover {
  background-color: lightgray;
}

.main-div {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.line-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  gap:30px;
  padding-bottom:10px
}

.blank-space{
  width: 22px;
  height: 4px;
}

.line{
  width: 100%;
  height: 3px;
  background-color: #666362;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.assistant-card {
  align-self: flex-start;
  background-color: rgba(245, 254, 253, 0.2);
  border-radius: 10px;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.07), /* Top shadow */
  0 4px 6px rgba(0, 0, 0, 0.1); /* Bottom shadow */
  padding: 10px 20px;
  max-width: 70%;
  width: fit-content; /* Ensure the card fits its content */
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-left: 0;
  margin-right: auto;
}

.user-card {
  align-self: flex-end;
  background-color:  rgba(100, 149, 237, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  max-width: 70%;
  width: fit-content; /* Ensure the card fits its content */
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-left: auto;
  margin-right: 0;
}


form {
  display: flex;
  padding-top: 8px;
  border-top: 1px solid transparent; /* You might want to specify a color here if needed */
  justify-content: center; /* Center horizontally */
  align-items: center;
  gap: 0px; /* Center vertically */
  background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
  /* or use opacity if you want the entire form to be transparent
  opacity: 0.5; */

}

#form-div{
  flex: 0.5;
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center;
  gap: 3px;/* Center vertically */
  background-color:  rgb(232,233,234);
  border-radius: 13px;
  padding-left: 10px;
  padding-right: 10px;
  flex-flow:column;
}

.chat-button-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 5px 5px 7px;
}

.left-chat-buttons{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.right-chat-buttons{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

textarea {
  flex: 1;
  width: 100%;
  resize: none;
  border: 0px solid #ccc;
  border-radius: 13px;
  padding: 10px 10px 3px;
  font-size: 16px;
  outline: none;
  background-color:    rgb(232,233,234);
  color: rgba( 102, 99, 98);
}

.chat_button {
  background-color:  rgb(232,233,234);
  color: black;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.chat_button img:hover {
  transform: scale(1.2); /* Makes the image 10% bigger */
  transition: transform 0.2s ease; /* Smooth transition for the scale effect */
}

code{
  color:rgb(108, 160, 220);
  font-weight: 600;
}

#gap {
  padding-bottom: 20px;
}

a{
  color:gray;
  text-decoration: underline;
}

a:hover{
  color:gray;

}

.chat-container .assistant-card h3 {
  font-size: 20px;
  font-weight: 600;
}

pre:has(code) {
  display: inline-block; /* Shrinks the <pre> to fit the content */
  background-color: rgba(220, 220, 220);
  white-space: pre-wrap; /* Enables text wrapping */
  word-wrap: break-word; /* Breaks long words if needed */
  overflow-wrap: break-word; /* Additional support for word breaking */
  padding: 10px; /* Optional: Adds some space inside the <pre> */
  max-width: 100%; /* Ensures it doesn’t overflow the container */
  overflow: auto; /* Adds scrollbars if necessary */
  box-sizing: border-box; /* Includes padding in size */
  border-radius: 10px;
  text-align: left;
  margin-left: 20px;
  padding-left: 18px;
  color:rgb(85,85,85);
}



li > pre:has(code) {
  display: inline; /* Shrinks the <pre> to fit the content */
  background-color: rgba(220, 220, 220);
  white-space: pre-wrap; /* Enables text wrapping */
  word-wrap: break-word; /* Breaks long words if needed */
  overflow-wrap: break-word; /* Additional support for word breaking */
  padding: 9px; /* Optional: Adds some space inside the <pre> */
  max-width: 100%; /* Ensures it doesn’t overflow the container */
  overflow: auto; /* Adds scrollbars if necessary */
  box-sizing: border-box; /* Includes padding in size */
  border-radius: 8px;
  text-align: left;
  margin-left: 10px;

}


/*pre code{*/
/*  margin-left: 20px;*/
/*}*/

p:has(strong){
margin-left: 20px}


h1, h2, h3, h4, h5, h6 {
  margin-top: 20px; /* Adjust the value to increase or decrease the space */
  color: rgba( 102, 99, 98);
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: "";
  display: block;
  height: 1px; /* Adjust the height to make the line thicker or thinner */
  background-color: rgba(220, 220, 220); /* Change the color of the line */
  margin-bottom: 10px; /* Adjust the margin to increase or decrease the space between the line and the heading */
}

/*strong{*/
/*  color: rgba(190, 190, 190)*/
/*}*/
.assistant-card p{
  color: rgba( 102, 99, 98)
}

li{
  padding-top:5px;
  padding-bottom:5px;
}

.assistant-card li{
  color: rgba( 102, 99, 98)
}

.chat-button-extra{
  display: flex;
  flex-flow: row;
  color: #f4f4f9;
  align-items: center;
  background-color: rgb(108, 160, 220);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

.chat-button-extra .chat_button{
  background-color: rgb(108, 160, 220);
  padding:4px;
}

.chat-button-extra-text{
  padding:4px;
}

.vanilla{
  padding-right: 8px;
}
