<body>
<div class="chat-container">
  <div class="messages">
    <div *ngFor="let userMessage of userMessages; let i = index">
      <div class="user-card"  [innerHtml]="getMarkedMessage(userMessage)"></div>
      <div id="gap"></div>
      <div class="assistant-card" *ngIf="i < assistantMessages.length; else nothing" [innerHtml]="getMarkedMessage(assistantMessages[i])">
      </div>

      <ng-template #nothing>
      </ng-template>
    </div>

    <div class="assistant-card" [innerHtml]="sanitizedMessages" *ngIf="!isFirst"></div>
  </div>
  <form (submit)="sendMessage()">
    <textarea
      #messageArea
      [(ngModel)]="inputMessage"
      name="message"
      autocomplete="off"
      rows="1"
      placeholder="chat with code_explore"
      (keydown)="handleKeyDown($event, messageArea)"
    >

    </textarea>
    <button type="submit">Send</button>
  </form>
</div>
</body>
