<body class="bg-wrapper">
<header>
  <div class="logo">
    <img src="../../../../../assets/logoTransparent.png" alt="Logo" class="logo-img">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    Code Explore
  </div>
</header>


<section>
  <app-blob
    [background]="'linear-gradient(200deg, #09427c 0%, #09427c 100%)'"
    [left]="'10%'"
    [top]="'10%'"
    [blurEffect]="'blur(110px)'"
    [animation]="'sway 8s ease-in-out infinite'">
  </app-blob>
  <div class="container">
    <h2 class="heading">Proceed to embedding</h2>
    <p>Do you really want to finish? This action cannot be undone.</p>
    <div class="button-group">
      <button class="btn" (click)="completeFinish()">Finish</button>
      <button class="btn btn-secondary" (click)="navigateBack()">Back</button>
    </div>
  </div>
  <app-blob
    [background]="'linear-gradient(200deg, #134343 0%, #023b3b 100%)'"
    [bottom]="'0%'"
    [right]="'0%'"
    [left]="'90%'"
    [top]="'85%'"
    [blurEffect]="'blur(90px)'"
    [animation]="'sway2 7s ease-in-out infinite'">
  </app-blob>
</section>
</body>

