<div *ngIf="folders$ | async as folders; else loading" class="card-list">
  <div class="breadcrumb sticky-top">
    <button class="back-button" (click)="navigateBack()"> Back</button>
    <div class="breadcrumb-links">
    <span *ngFor="let breadcrumb of getBreadcrumbs(); let i = index; let isLast = last">
      <a
        class="breadcrumb-link"
        [routerLink]="['/code-process']"
        [queryParams]="{ prevFolder: breadcrumb[1] }"
        (click)="saveCurrFolders()"
      >
        {{ breadcrumb[0] }}
      </a>
      <span class="breadcrumb-separator" *ngIf="!isLast"> &gt; </span>
    </span>
    </div>
  </div>

  <!-- Checklist -->
  <div class="card"
       [class.selected]="checkForFolder(folder)"
       *ngFor="let folder of getFolders(true, folders)">

    <a
      class="card-link"
      [routerLink]="['/code-process']"
      [queryParams]="{ prevFolder: folder.next, git_url: git_url }"
      (click)="saveCurrFolders()"
    >
      <div class="folder-flex">
        <img ngSrc="assets/folder.png" height="20" width="20"/>
        <span class="card-label">
      {{ getLabel(folder) }}
    </span>
      </div>
    </a>

  </div>

  <div class="card"
       [class.selected]="checkForFolder(folder)"
       *ngFor="let folder of getFolders(false, folders)">

    <label class="card-label" *ngIf="!folder.is_folder">
      <input
        type="checkbox"
        [value]="folder"
        [checked]="checkForFolder(folder)"
        (change)="toggleFolderSelection($event, folder)"
      />
      <span class="checkmark"></span>
      {{ getLabel(folder) }}
      <span class="folder-color" [style.backgroundColor]="get_color(folder)"></span>
    </label>

  </div>

  <!-- Button group -->
  <div class="button-group sticky-bottom">
    <button class="small-button" (click)="selectAllFolders(folders)">Select All</button>
    <button class="small-button" (click)="deselectAllFolders(folders)">Clear All</button>
    <button class="small-button-finish" (click)="navigateToFinish()">Finish</button>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    <img src="path/to/loading-spinner.gif" alt="Loading..."/>
    <p>Loading your folders...</p>
  </div>
</ng-template>
