<div *ngIf="folders$ | async as folders; else loading" class="card-list">
  <div class="breadcrumb sticky-top">
    <button class="back-button" (click)="navigateBack()">🔙 Back</button>
    <a
      class="breadcrumb-link"
      [routerLink]="['/code-process']"
      [queryParams]="{ prevFolder: breadcrumb[1] }"
      (click)="saveCurrFolders()"
      *ngFor="let breadcrumb of getBreadcrumbs()"
    >
      📂 {{ breadcrumb[0] }}
    </a>
  </div>

  <!-- Checklist -->
  <div class="card"
       [class.selected]="checkForFolder(folder)"
       *ngFor="let folder of folders">

    <ng-template #folderLink>
      <a
        class="card-link"
        [routerLink]="['/code-process']"
        [queryParams]="{ prevFolder: folder.next }"
        (click)="saveCurrFolders()"
      >
        📂 {{ getLabel(folder) }}
      </a>
    </ng-template>

    <label class="card-label" *ngIf="!folder.is_folder; else folderLink">
      <input
        type="checkbox"
        [value]="folder"
        [checked]="checkForFolder(folder)"
        (change)="toggleFolderSelection($event, folder)"
      />
      <span class="checkmark"></span>
      {{ getLabel(folder) }}
      <span class="folder-color" [style.backgroundColor]="get_color(folder)"></span>
    </label>

  </div>

  <!-- Button group -->
  <div class="button-group sticky-bottom">
    <button class="small-button" (click)="selectAllFolders(folders)">Select All</button>
    <button class="small-button" (click)="deselectAllFolders(folders)">Clear All</button>
    <button class="small-button-finish" (click)="navigateToFinish()">Finish</button>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    <img src="path/to/loading-spinner.gif" alt="Loading..." />
    <p>Loading your folders...</p>
  </div>
</ng-template>
