<div *ngIf="links$ | async as links; else loading" class="card-list">
  <div class="breadcrumb sticky-top">
    <button class="back-button" (click)="navigateBack()"> Back</button>
    <div class="breadcrumb-links">
    <span *ngFor="let breadcrumb of getBreadcrumbs(); let i = index; let isLast = last">
      <a
        class="breadcrumb-link"
        [routerLink]="['/docs-files']"
        [queryParams]="{ prevLink: breadcrumb[1] }"
        (click)="saveCurrLinks()"
      >
        {{ breadcrumb[0] }}
      </a>
      <span class="breadcrumb-separator" *ngIf="!isLast"> &gt; </span>
    </span>
    </div>
  </div>

  <!-- Checklist -->
  <div class="card"
       [class.selected]="checkForParent(link)"
       *ngFor="let link of getLinks(true, links)">

    <div>
      <div class="folder-flex">
        <img ngSrc="assets/folder.png" height="20" width="20"/>
        <a class="card-label card-link"
           [routerLink]="['/docs-files']"
           [queryParams]="{ prevLink: link.link, docs_url: docs_url }"
           (click)="saveCurrLinks()">
          {{ getLabel(link) }}
        </a>
        <button class="emoji-button plus" (click)="selectAll(link.link,true)">+</button>
        <button class="emoji-button minus" (click)="selectAll(link.link,false)">-</button>
      </div>
    </div>

  </div>


  <div class="card"
       [class.selected]="checkForParent(link)"
       *ngFor="let link of getLinks(false, links)">
    <label class="card-label" *ngIf="!link.is_parent;">
      <input
        type="checkbox"
        [value]="link"
        [checked]="checkForParent(link)"
        (change)="toggleLinkSelection($event, link)"
      />
      <span class="checkmark"></span>
      {{ getLabel(link) }}
      <span class="folder-color" [style.backgroundColor]="get_color(link)"></span>
    </label>
  </div>


  <!-- Button group -->
  <div class="button-group sticky-bottom">
    <button class="small-button" (click)="selectAllLinks(links)">Select All</button>
    <button class="small-button" (click)="deselectAllLinks(links)">Clear All</button>
    <button class="small-button-finish" (click)="navigateToFinish()">Finish</button>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    <img src="path/to/loading-spinner.gif" alt="Loading..."/>
    <p>Loading your folders...</p>
  </div>
</ng-template>
