<body class="bg-wrapper">
<header>
  <div class="logo">
    <img src="../../assets/logo2.png" alt="Logo" class="logo-img">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    Code Explore
  </div>
<!--  <nav>-->
<!--    <ul>-->
<!--      <li><a href="#">Home</a></li>-->
<!--      <li><a href="#">About</a></li>-->
<!--      <li><a href="#">Services</a></li>-->
<!--      <li><a href="#">Contact</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
</header>



<section>
  <div class="blob"></div>
  <div *ngIf="!isFinished; else process">
    <div *ngIf="!isSelectDocs; else loading">
      <div *ngIf="links$| async as links ; else loading" class="card-list container">
        <div class="breadcrumb sticky-top">
          <button class="back-button" (click)="navigateBack()"> Back</button>
          <div class="breadcrumb-links">
    <span *ngFor="let breadcrumb of getBreadcrumbs(); let i = index; let isLast = last">
      <a
        class="breadcrumb-link"
        [routerLink]="['/docs-files']"
        [queryParams]="{ prevLink: breadcrumb[1] }"
      >
        {{ breadcrumb[0] }}
      </a>
      <span class="breadcrumb-separator" *ngIf="!isLast"> &gt; </span>
    </span>
          </div>
        </div>


        <div class="card"
             [class.selected]="link.active"
             *ngFor="let link of links"
             (mouseenter)="selectCard(link)"
             (mouseleave)="deselectCard()">

          <label class="card-label">
            <input
              type="checkbox"
              [value]="link"
              [checked]="link.active"
              (change)="toggleLinkSelection($event, link)"
            />
            <span class="checkmark"></span>
            <div *ngIf="!link.is_parent; else parent">
              {{ getLabel(link) }}
            </div>

            <ng-template #parent>
              <img ngSrc="assets/folder.png" height="20" width="20"/>
              <a class="card-label"
                 [routerLink]="['/docs-files']"
                 [queryParams]="{ prevLink: link.link, docs_url: docs_url }">
                {{ getLabel(link) }}
              </a>
            </ng-template>
            <div class="folder-flex">
              <ng-container *ngIf="getColor(link) != null">
                <span class="folder-color" [style.backgroundColor]="getColor(link)"></span>
              </ng-container>

              <button class="emoji-button minus" *ngIf="isCardHovered(link)" (click)="navigateToLink(link.link)">

                <img src="../../assets/link.png" height="15" width="15"/></button>
              <button *ngIf="isCardHovered(link)" class="emoji-button minus"
                      (click)="navigateToDisplayContent(link.base_url,link.link)">

                <img src="../../assets/find.png" height="15" width="15"/></button>

              <ng-container *ngIf="link.is_parent">
                <button *ngIf="isCardHovered(link)" class="emoji-button plus" (click)="selectByParentRecursively(true, link.link)">
                  <img src="../../assets/plus-symbol-button(1).png" height="12.8" width="12.8"/></button>

                <button *ngIf="isCardHovered(link)" class="emoji-button minus" (click)="selectByParentRecursively(false, link.link)">

                  <img src="../../assets/cancel(1).png" height="11.5" width="11.5"/></button>
              </ng-container>
            </div>
          </label>
        </div>


        <!-- Button group -->

      </div>
      <div class="button-group sticky-bottom">
        <div class="last-button-group">

          <button class="small-button" (click)="selectPage(true)">Select Page</button>
          <button class="small-button" (click)="selectPage(false)">Clear Page</button>
          <button class="small-button" (click)="selectAllLinks(true)">Select All</button>
          <button class="small-button" (click)="selectAllLinks(false)">Clear All</button>


        </div>
        <div class="finish-button">
          <button class="small-button-finish" (click)="navigateToFinish()">

          </button>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <div class="card-list container loading-screen">
        <div class="loading">
          <img src="/assets/loading-gif-black.gif" alt="Loading..."/>
          <p>Loading your docs...</p>
        </div>
      </div>
    </ng-template>
  </div>

  <ng-template #process>
    <div class="card-list container">
      <div class="progress-container"> <!-- Displays progress stages -->
        <div class="dot-container" *ngFor="let values of getSortedProcesses()">
          <div class="dot" [ngClass]="{'green': true, 'gray': !true}"></div>
          <div class="label">{{ values[0] }}</div>
        </div>
      </div>

      <div class="progress-box">
        <h3 class="progress-title">Progress Status</h3>
        <p *ngIf="loadingSortedProcess; else loadingContainer" class="progress-text">{{ this.processStatus }}</p>
        <ng-template #loadingContainer>
          <img src="../../assets/loading-gif-black.gif" height="50" width="50"/>
        </ng-template>
        <button class="refresh-button" (click)="refresh()">Refresh</button>
      </div>
    </div>
  </ng-template>
  <div class="blob2"></div>
</section>
