<div class="form-container">
  <h1>Select Git/Docs Url</h1>
  <div>
    <div class="form-group">
      <label for="gitUrl">Git URL:</label>
      <input
        type="url"
        id="gitUrl"
        name="gitUrl"
        [(ngModel)]="gitUrl"
        class="form-input"
        required
        placeholder="Enter Git repository URL"
        (input)="checkLink()"
      />
    </div>

    <div *ngIf="codeForm;else docsForm" class="form-group">
      <label for="override">Override Existing Data:</label>
      <label class="switch">
        <input
          type="checkbox"
          id="override"
          name="override"
          [(ngModel)]="override"
        />
        <span class="slider round"></span>
      </label>
    </div>

    <ng-template #docsForm>
      <div class="form-group">
        <label for="override1">Override Existing Data:</label>
        <label class="switch">
          <input
            type="checkbox"
            id="override1"
            name="override"
            [(ngModel)]="override"
          />
          <span class="slider round"></span>
        </label>
      </div>

      <div class="form-group">
        <label for="selectorBs">Selector:</label>
        <input
          type="text"
          id="selectorBs"
          name="selectorBs"
          [(ngModel)]="selectorBs"
          class="form-input"
          placeholder="Enter Selector"
        />
      </div>

      <div class="form-group">
        <label for="selectorAttr">Selector Attribute:</label>
        <input
          type="text"
          id="selectorAttr"
          name="selectorAttr"
          [(ngModel)]="selectorAttr"
          class="form-input"
          placeholder="Enter Selector Attributes"
        />
      </div>

      <div class="form-group">
        <label for="stringList">List of Patterns (Optional):</label>
        <div id="stringList" class="string-list-container">
          <div *ngFor="let item of patternList; let i = index; trackBy: trackByIndex" class="list-item">
            <input
              type="text"
              [(ngModel)]="patternList[i]"
              [attr.name]="'pattern_' + i"
              class="form-input list-input"
              placeholder="Enter regex pattern"
            />
          </div>
        </div>
        <button type="button" class="add-button" (click)="addPattern()">+</button>
      </div>

    </ng-template>


    <div class="form-actions">
      <button class="btn btn-primary" [disabled]="loading" (click)="extractLibraries(gitUrl, override)">Extract Libraries</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
    </div>
  </div>

</div>
