<div class="form-container">
  <h1>Select Git Repository</h1>
  <form (ngSubmit)="extractLibraries(gitUrl, override)">
    <div class="form-group">
      <label for="gitUrl">Git URL:</label>
      <input
        type="url"
        id="gitUrl"
        name="gitUrl"
        [(ngModel)]="gitUrl"
        class="form-input"
        required
        placeholder="Enter Git repository URL"
      />
    </div>

    <div class="form-group">
      <label for="override">Override Existing Data:</label>
      <label class="switch">
        <input
          type="checkbox"
          id="override"
          name="override"
          [(ngModel)]="override"
        />
        <span class="slider round"></span>
      </label>
    </div>


    <div class="form-actions">
      <button type="submit" class="btn btn-primary" [disabled]="loading">Extract Libraries</button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Cancel</button>
    </div>
  </form>

  <!-- Loading animation -->
  <div *ngIf="loading" class="loading-container">
    <img ngSrc="assets/loading.gif" alt="Loading..." class="loading-gif" height="38" width="150"/>
    <p>Processing your request...</p>
  </div>
</div>
