/* General container styling */
.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-input:focus {
  border-color: #6ca0dc;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-checkbox {
  margin-top: 10px;
  transform: scale(1.2);
}

/* Button styling */
.form-actions {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #6ca0dc;
  color: #fff;
}

.btn-primary:hover {
  background-color: rgb(88, 140, 200);
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.loading-gif {
  width: 50px;
  height: 50px;
}

.loading-container p {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

/* Switch styling */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #6ca0dc;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.string-list-container {
  max-height: 200px; /* Display 5 items, assuming ~40px per item */
  overflow-y: auto;
  border: 0px solid #ccc;
  border-radius: 4px;
}

.list-item {
  margin-bottom: 5px;
}

.list-input {
  width: calc(100% - 10px);
  margin: 0 5px;
}

.add-button {
  display: inline-block;
  background-color: #6ca0dc;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  margin-top:4px;
}

.add-button:hover {
  background-color:rgb(88, 140, 200);
}

.extract-heading {
  letter-spacing: 2px; /* Adjust spacing between letters */
  text-transform: uppercase; /* Convert text to uppercase */
  font-family: "Arial", sans-serif; /* Use a clear and legible font */
  font-weight: bold; /* Make the font clearer by making it bold */
  font-size: 1.8em; /* Optional: Adjust font size */
  color: #666362;
}

.extract-heading1 {
  letter-spacing: 1.3px; /* Adjust spacing between letters */
  text-transform: uppercase; /* Convert text to uppercase */
  font-family: "Arial", sans-serif; /* Use a clear and legible font */
  font-weight: bold; /* Make the font clearer by making it bold */
  font-size: 1.0em; /* Optional: Adjust font size */
  color: #666362;
}

.form-content{
  padding-top: 20px;
}

