<body class="bg-wrapper">
<header>
  <div class="logo">
    <img src="../../../../../assets/logoTransparent.png" alt="Logo" class="logo-img">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    Code Explore
  </div>
</header>

<div class="container ">
  <div class="blob2"></div>
  <div class="tabs">
    <div class="tab" [class.active]="selectedStatus === 'ongoing'" (click)="changeDisplayProcesses('ongoing')">Ongoing</div>
    <div class="tab" [class.active]="selectedStatus === 'finished'" (click)="changeDisplayProcesses('finished')">Finished</div>
  </div>

  <div *ngIf="selectedStatus">
    <div *ngFor="let process of displayedProcesses; let i = index">
      <div class="card">
        <div class="card-header">
          {{ process.url }}
          <span
            class="refresh-emoji"
            *ngIf="selectedStatus === 'ongoing'"
            (click)="refresh(process.id, i)"><img class="refresh-image" ngSrc="../../../../../assets/refresh-page-option.png" height="20" width="20"/>
          </span>
        </div>
        <div class="card-body">
          <p>Type: {{ process.type }}</p>
          <p>Process Type: {{ process.process_type }}</p>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              [class.finished]="process.curr === process.end"
              [style.width]="((process.curr ?? 0) / (process.end ?? 1)) * 100 + '%'">
              {{ ((process.curr ?? 0) / (process.end ?? 1) * 100).toFixed(2) }}%
            </div>
            <span class="progress-end">Total: {{ process.end }}</span>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="empty-message" *ngIf="!getEntries(selectedStatus).length">-->
<!--      No processes found for the selected status.-->
<!--    </div>-->
  </div>

  <div class="blob"></div>
</div>
</body>
