<body class="bg-wrapper">
<app-header>
</app-header>

<div class="container ">
  <app-blob
    [background]="'linear-gradient(200deg, #09427c 0%, #09427c 100%)'"
    [left]="'10%'"
    [top]="'10%'"
    [blurEffect]="'blur(110px)'"
    [animation]="'sway 8s ease-in-out infinite'">
  </app-blob>
  <div class="tabs">
    <div class="tab" [class.active]="selectedStatus === 'ongoing'" (click)="changeDisplayProcesses('ongoing')">Ongoing</div>
    <div class="tab" [class.active]="selectedStatus === 'finished'" (click)="changeDisplayProcesses('finished')">Finished</div>
  </div>

  <div *ngIf="selectedStatus">
    <div *ngFor="let process of displayedProcesses; let i = index">
      <div class="card">
        <div class="card-header">
          {{ process.url }}
          <span
            class="refresh-emoji"
            *ngIf="selectedStatus === 'ongoing'"
            (click)="refresh(process.id, i)"><img class="refresh-image" ngSrc="../../../../../assets/refresh-page-option.png" height="20" width="20"/>
          </span>
        </div>
        <div class="card-body">
          <p>Type: {{ process.type }}</p>
          <p>Process Type: {{ process.process_type }}</p>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              [class.finished]="process.curr === process.end"
              [style.width]="((process.curr ?? 0) / (process.end ?? 1)) * 100 + '%'">
              {{ ((process.curr ?? 0) / (process.end ?? 1) * 100).toFixed(2) }}%
            </div>
            <span class="progress-end">Total: {{ process.end }}</span>
          </div>
        </div>
      </div>
    </div>

<!--    <div class="empty-message" *ngIf="!getEntries(selectedStatus).length">-->
<!--      No processes found for the selected status.-->
<!--    </div>-->
  </div>

  <app-blob
    [background]="'linear-gradient(200deg, #134343 0%, #023b3b 100%)'"
    [bottom]="'0%'"
    [right]="'0%'"
    [left]="'90%'"
    [top]="'85%'"
    [blurEffect]="'blur(90px)'"
    [animation]="'sway2 7s ease-in-out infinite'">
  </app-blob>
</div>
</body>
