<div class="question-item-container" (click)="onSelectQuestion()" role="button" tabindex="0">
    <span class="question-text">{{ questionText }}</span>
    <div class="plus-icon-wrapper">
        <!-- Using an inline SVG for the plus icon for simplicity.
             You can replace this with an <img> tag, an icon font, or a dedicated icon component. -->
        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5V19M5 12H19" stroke="#8D8A8A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>
