#messageInput {
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: rgba(var(--text-color-custom), 0.5); /* Make text lighter */
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Also make placeholder text lighter */
textarea::placeholder {
  color: rgba(var(--text-color-custom), 0.6);
  opacity: 0.4;
}


body.light-theme {
  --light-bg-color: #f9f9f9;
  --darker-bg-color: #ffffff;
  --even-lighter-bg-color: rgba(249, 249, 249, 0.76);
  --lighter-3-bg-color: #f0f0f0;
  --spinner-bg1: #ff8c00;
  --spinner-bg2: #fa0202;
  --spinner-1-bg: #f0f0f0;
  --line-bg-color: #ccc;
  --chat-container-scrollable: #ccc;
  --message-box-border-color: #ccc;
  --message-box-focus:  #333333;
  --text-color-custom: #333;
  --message-box-fill: #e6e6e6;
  --message-box-stroke: #333;
  --input-field: rgba(51, 50, 50, 0.6);
  --input-field-hover:  #333333;
  --three-color-gradient: linear-gradient(45deg, #e35e0c, #f6a202, #f40622);
  --logo:url('../../../../../assets/dina_logo.png');
  --new-chat-img: url('../../../../../assets/post.png');
  --user-card: #ffd9b5;
}

body.dark-theme {
  --light-bg-color: #2a2d31;
  --darker-bg-color: #1e1f22;
  --even-lighter-bg-color: #34373b;
  --lighter-3-bg-color: #43454a;
  --spinner-bg1: rgb(186, 66, 255);
  --spinner-bg2: rgb(0, 225, 255);
  --spinner-1-bg: rgb(36, 36, 36);
  --line-bg-color: #666362;
  --chat-container-scrollable: rgb(67, 69, 74);
  --message-box-border-color:  rgb(63, 63, 63);
  --message-box-focus: rgb(110, 110, 110);
  --text-color-custom: #e9e3e7;
  --message-box-fill: #3c3c3c;
  --message-box-stroke: white;
  --input-field: rgba(255,255, 255, 0.6);
  --input-field-hover:#999;
  --three-color-gradient: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  --logo:url('../../../../../assets/whiteDina.png');
  --new-chat-img: url('../../../../../assets/new-message.png');
  --user-card: #34373b;

}

.toggle-button {
  cursor: pointer;
}

.banter {
  position: fixed;
  z-index: 1000;
  font-size: 16px;
  cursor: pointer;
  border: none;
  width: 50px;
  height: 100%;
  background-color: var(--light-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 15px;
}


.sliding-bar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  transition: left 0.3s ease;
  background-color: var(--light-bg-color);
}

.sliding-bar::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.sliding-bar::-webkit-scrollbar-thumb {
  background: var(--chat-container-scrollable);
  border-radius: 1px;
}


.sliding-bar.open {
  left: 0;
}

.content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
  font-size: 18px;
}

.sliding-bar.open ~ .content {
  margin-left: 250px;
}


#new-chat-button {
  width: 38px;
  height: 38px;
  background-image: var(--new-chat-img);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: background-image 0.2s ease;
}

.assistant-card {
  position: relative;
}

.streaming-dot-container {
  position: absolute;
  right: 2px;
  bottom: 12px;
  padding-right: 10px;
}


/* From Uiverse.io by xXJollyHAKERXx */
.spinner {
  background-image: linear-gradient(var(--spinner-bg1) 35%, var(--spinner-bg2));
  width: 10px;
  height: 10px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px var(--spinner-bg1), 0px 5px 20px 0px var(--spinner-bg2);
}

.spinner1 {
  background-color: var(--spinner-1-bg);
  width: 10px;
  height: 10px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}


.main-div {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--darker-bg-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.line-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  gap: 30px;
  padding-bottom: 10px
}

.blank-space {
  width: 22px;
  height: 4px;
}

.blank-space1 {
  height: 4px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--line-bg-color);
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
  flex-flow: column;
  align-items: center;
  overflow-y: auto;
  margin-top: 40px;
}

.chat-container::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.chat-container::-webkit-scrollbar-thumb {
  background: var(--chat-container-scrollable);
  border-radius: 1px;
}

.messages {
  flex: 1;
  padding: 15px;
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 50px;
}


.user-card {
  align-self: flex-end;
  background-color: var(--user-card);
  border-radius: 10px;
  padding: 10px 15px;
  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-left: auto;
  margin-right: 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}


/*message area new*/
/* From Uiverse.io by vinodjangid07 */
.messageBox {
  min-height: 50px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--even-lighter-bg-color);
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid var(--message-box-border-color);
  width: 900px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  gap: 14px;
}

.messageBox:focus-within {
  border: 1.8px solid var(--message-box-focus);
}

/* Add transition to the form */
.messageBox {
  transition: left 0.3s ease;
}

/* Adjust form position when sidebar is open */
.sliding-bar.open ~ .content .messageBox {
  left: calc(50% + 125px);
}




#messageInput::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#messageInput::-webkit-scrollbar-thumb {
  background: var(--chat-container-scrollable);
  border-radius: 1px;
}

#messageInput:focus ~ .send-button #sendButton svg path,
#messageInput:valid ~ .send-button #sendButton svg path {
  fill: var(--message-box-fill);
  stroke: var(--message-box-stroke);
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

#sendButton svg {
  height: 23px;
  transition: all 0.3s;
}

#sendButton svg path {
  transition: all 0.3s;
}

#sendButton:hover svg path {
  fill: var(--message-box-fill);
  stroke: var(--message-box-stroke);
}

/*message area new*/

.message-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: transparent;
  width: 900px;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}


#block1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: var(--darker-bg-color);
  width: 900px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
}

/* Add transition to the form */
.message-area, #block1 {
  transition: left 0.3s ease;
}

/* Adjust form position when sidebar is open */
.sliding-bar.open ~ .content .message-area,
.sliding-bar.open ~ .content #block1 {
  left: calc(50% + 125px);
}



#gap {
  padding-bottom: 20px;
}

a {
  text-decoration: underline;
  color: var(--text-color-custom);
}

a:hover {
}

.chat-container .assistant-card h3 {
  font-size: 20px;
  font-weight: 600;
}


.blank-space2 {
  height: 20px;
  width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
}

.references {
  margin-top: 20px;
  font-size: 14px;
}

.references_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  flex-wrap: wrap;
}

.reference a:hover {
}


p {
  margin-bottom: 0px;
}

.assistant-card p {
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.assistant-card li {
}



.hljs {
  background-color: var(--light-bg-color) !important;
}

.assistant-card code {
  color: var(--text-color-custom);
}

p, div {
}

body {
  color: var(--text-color-custom);
}

.assistant-card pre {
  border-radius: 10px;
}



pre {
  position: relative !important;
}


.assistant-card {
  align-self: flex-start;
  background: var(--even-lighter-bg-color);
  border-radius: 10px;
  padding: 10px 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  border: #e6e6e6 solid 1px;
}


.assistant-content {
  display: flex;
  align-items: flex-start; /* Align items to top */
  gap: 8px; /* Space between logo and text */
}

.logo-container {
  margin-top: 8px;
  margin-left: -3em;
  margin-right: 4px;
  flex-shrink: 0; /* Prevent logo from shrinking */
  width: 41px;
  height: 41px;
  background-image: var(--logo);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.message-content {
  flex-grow: 1; /* Take remaining space */
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}




textarea {
  resize: none;
}


.messages {
  transition: padding-bottom 0.2s ease-out;
}

.send-button {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.login-alert {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

.disabled-content {
  opacity: 0.7;
  pointer-events: none;
}
