<div *ngIf="this.barStatus == 'close'" class="banter">
  <div (click)="toggleHistoryBar()" class="toggle-button">
    <img src="../../../../../assets/8726046_history_icon.png" height="30" width="30"/>
  </div>
  <div (click)="toggleChatModels()" class="toggle-button">
    <img src="../../../../../assets/setting(2).png" height="26" width="26"/>
  </div>
  <div class="add-chat">
    <div
      id = "new-chat-button"
      (click)="navigateToChat()"
      class="toggle-button">

<!--      <img src="../../assets/chat.png" height="30" width="30"/>-->

    </div>
  </div>
</div>
<div [class.open]="this.barStatus == 'history'" class="sliding-bar">
  <div class="sliding-bar-column">
    <div class="chat-history-heading">
      <div *ngIf="this.barStatus == 'history'" (click)="toggleHistoryBar()">
        <img src="../../../../../assets/arrow.png" height="22" width="22"/>
      </div>
      <p class="subheading">Chat History</p>
    </div>
    <div class="line-div">
      <div class="blank-space">
      </div>

      <div class="line"></div>
    </div>
    <div class="chat-history">
      <p class="history-header">Today</p>
      <div *ngFor="let chat of getChats('today')">
        <div (click)="selectChat(chat.id)">
          <p class="chat-entry">{{ chat.title }}</p>
        </div>
      </div>

      <div class="blank-space2">&nbsp;</div>
      <p class="history-header">Yesterday</p>
      <div *ngFor="let chat of getChats('yesterday')">
        <div (click)="selectChat(chat.id)">
          <p class="chat-entry">{{ chat.title }}</p>
        </div>
      </div>

      <div class="blank-space2">&nbsp;</div>
      <p class="history-header">Previous 7 days</p>
      <div *ngFor="let chat of getChats('previous_7_days')">
        <div (click)="selectChat(chat.id)">
          <p class="chat-entry">{{ chat.title }}</p>
        </div>
      </div>
      <div class="blank-space2">&nbsp;</div>
      <p class="history-header">Previous 30 days</p>
      <div *ngFor="let chat of getChats('previous_30_days')">
        <div (click)="selectChat(chat.id)">
          <p class="chat-entry">{{ chat.title }}</p>
        </div>
      </div>

      <div id="block">
      </div>
    </div>
  </div>

</div>


<div [class.open]="this.barStatus == 'chat_models'" class="sliding-bar">
  <div class="sliding-bar-column">
    <div class="chat-history-heading">
      <div *ngIf="this.barStatus == 'chat_models'" (click)="toggleChatModels()">
        <img src="../../../../../assets/arrow.png" height="22" width="22"/>
      </div>

      <p class="subheading">Chat Models</p>
    </div>
    <div class="line-div">
      <div class="blank-space">
      </div>

      <div class="line"></div>
    </div>
    <div class="chat-models-segment-2">
      <div class="chat-apis">
        <div
          class="image-div"
          [class.selected]="selectedApi === 'openai'"
          (click)="getModelInfo('openai')">
          <img src="../../../../../assets/open-ai-logo(1).png" height="23"/>
        </div>
        <div
          class="image-div"
          [class.selected]="selectedApi === 'hugging_face'"
          (click)="getModelInfo('hugging_face')">
          <img src="../../../../../assets/hf-logo-removebg-preview.png" height="29"/>
        </div>
        <div
          class="image-div"
          [class.selected]="selectedApi === 'deepseek'"
          (click)="getModelInfo('deepseek')">
          <img src="../../../../../assets/deepseek-removebg-preview.png" height="19"/>
        </div>
      </div>

      <div class="chat-models">
        <div class="model-list">
          <div
            class="model-name"
            [class.selected]="selectedInfo === 'models'"
            (click)="changeSelectedInfo('models')">
            MODELS
          </div>
          <div
            class="model-name"
            [class.selected]="selectedInfo === 'api'"
            (click)="changeSelectedInfo('api')">
            API
          </div>
        </div>
        <div *ngIf="selectedInfo === 'models'; else api" class="all-models">
          <div
            [class.selected]="activeModel?.name === chatModel.name"
            *ngFor="let chatModel of chatModels;  let i = index" class="chat-model-name">
            <div
              (click)="setActiveChatModel(chatModel.name)">
              {{ chatModel.name }}
            </div>
          </div>

          <div *ngIf="isAddingModel" class="add-model-input">
            <input type="text" [(ngModel)]="newModelName" placeholder="Enter model name"/>
            <button (click)="confirmAddModel()"><img src="../../../../../assets/check.png" height="15" width="15"/></button>
            <button (click)="cancelAddModel()"><img src="../../../../../assets/close(1).png" height="12" width="12"/></button>
          </div>


          <!-- Add button -->
          <div class="chat-model-name" *ngIf="!isAddingModel" (click)="addChatModel()">
            <img src="../../../../../assets/add(4).png" height="12" width="12"/>
          </div>
        </div>


        <ng-template #api>
          <div class="all-models api">
            <div class="fixed-scrollable">{{ chatApi["api_key"] }}</div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="main-div bg-wrapper">
    <div class="chat-container">
      <!-- Modify your template -->
      <div class="messages">
        <div *ngFor="let message of messages">
          <div [ngSwitch]="message.type">
            <!-- User message remains same -->
            <div *ngSwitchCase="'user'" class="user-card" [innerHtml]="message.sanitizedContent"></div>

            <!-- Assistant message with pulsing dot -->
            <div *ngSwitchCase="'assistant'" class="assistant-card">
              <div [innerHtml]="message.sanitizedContent"></div>
              <div *ngIf="message.isStreaming" class="streaming-dot-container">
                <div class="streaming-dot"></div>
              </div>
            </div>
          </div>
          <div id="gap"></div>
        </div>
      </div>
      <form>
        <div id="form-div">
    <textarea
      #messageArea
      [(ngModel)]="inputMessage"
      name="message"
      autocomplete="off"
      rows="1"
      placeholder="chat with code_explore"
      (keydown)="handleKeyDown($event, messageArea)"
    >
    </textarea>
          <div class="chat-button-div">
            <div class="left-chat-buttons">
              <div *ngIf="!docsFlag; else selected_docs" class="chat_button" (click)="setDocsFlag()">
                <img src="../../../../../assets/document.png" height="18" width="18"/>
              </div>
              <ng-template #selected_docs>
                <div class="chat-button-extra" (click)="setDocsFlag()">
                  <div class="chat_button">
                    <img src="../../../../../assets/document.png" height="18" width="18"/>
                  </div>
                  <div class="chat-button-extra-text">Docs</div>
                </div>
              </ng-template>

<!--              <div *ngIf="!vanillaFlag; else selected_vanilla" class="chat_button" (click)="setVanillaFlag()">-->
<!--                <img src="../../assets/ice-cream-cone.png" height="18" width="18"/>-->
<!--              </div>-->
<!--              <ng-template #selected_vanilla>-->
<!--                <div class="chat-button-extra" (click)="setVanillaFlag()">-->
<!--                  <div class="chat_button">-->
<!--                    <img src="../../assets/ice-cream-cone_white.png" height="18" width="18"/>-->
<!--                  </div>-->
<!--                  <div class="chat-button-extra-text vanilla">Vanilla</div>-->
<!--                </div>-->
<!--              </ng-template>-->

              <div *ngIf="!historyFlag; else selected_history" class="chat_button" (click)="setHistoryFlag()">
                <img src="../../../../../assets/history(3).png" height="18" width="18"/>
              </div>
              <ng-template #selected_history>
                <div class="chat-button-extra" (click)="setHistoryFlag()">
                  <div class="chat_button">
                    <img src="../../../../../assets/history(3).png" height="18" width="18"/>
                  </div>
                  <div class="chat-button-extra-text">History</div>
                </div>
              </ng-template>

<!--              <div *ngIf="!codeFlag; else selected_code" class="chat_button" (click)="setCodeFlag()">-->
<!--                <img src="../../assets/code_chat_button.png" height="18" width="18"/>-->
<!--              </div>-->
<!--              <ng-template #selected_code>-->
<!--                <div class="chat-button-extra" (click)="setCodeFlag()">-->
<!--                  <div class="chat_button">-->
<!--                    <img src="../../assets/code_white.png" height="18" width="18"/>-->
<!--                  </div>-->
<!--                  <div class="chat-button-extra-text">Code</div>-->
<!--                </div>-->
<!--              </ng-template>-->

              <div *ngIf="!expandFlag; else selected_expand" class="chat_button" (click)="expandChat(messageArea)">
                <img src="../../../../../assets/expand-screen.png" height="16" width="16"/>
              </div>
              <ng-template #selected_expand>
                <div class="chat-button-extra" (click)="expandChat(messageArea)">
                  <div class="chat_button">
                    <img src="../../../../../assets/expand-screen.png" height="16" width="16"/>
                  </div>
                  <div class="chat-button-extra-text">Expanded</div>
                </div>
              </ng-template>
            </div>
            <div class="right-chat-buttons">
              <div class="chat_button" (click)="sendMessage()">
                <img src="../../../../../assets/send-message.png" height="20" width="20"/>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div id="block1">

      </div>
    </div>
  </div>


</div>
