<div *ngIf="this.barStatus == 'close'" class="banter">
  <div (click)="toggleHistoryBar()" class="toggle-button">
    <img src="../../../../../assets/8726046_history_icon.png" height="30" width="30"/>
  </div>
  <!--  <div (click)="toggleChatModels()" class="toggle-button">-->
  <!--    <img src="../../../../../assets/setting(2).png" height="26" width="26"/>-->
  <!--  </div>-->
  <div class="h-full pb-[15px] flex flex-col justify-end items-center">
    <div
      id="new-chat-button"
      (click)="navigateToChat()"
      class="toggle-button">
    </div>
  </div>
</div>
<div [class.open]="this.barStatus == 'history'" class="sliding-bar">
  <app-history-sidebar
    [isVisible]="barStatus == 'history'"
    (toggleRequested)="toggleHistoryBar()">
  </app-history-sidebar>
</div>
<div [class.open]="this.barStatus == 'chat_models'" class="sliding-bar">
  <app-models-sidebar
    (toggleRequested)="toggleChatModels()">
  </app-models-sidebar>
</div>
<div class="content">
  <div class="main-div bg-wrapper">
    <div class="chat-container" #messagesContainer>
      <div class="messages pb-5">
        <div *ngFor="let message of messages">
          <div [ngSwitch]="message.type">
            <div *ngSwitchCase="'user'" class="user-card" [innerHtml]="message.sanitizedContent">
            </div>
            <div *ngSwitchCase="'assistant'">
              <div class="assistant-content">
                <!-- Logo -->
                <div class="logo-container">
                  <img src="../../../../../assets/whiteDina.png"
                       alt="Dina Logo"
                       class="logo-image"
                       height="23"
                       width="23"/>
                </div>
                <!-- Message Content -->
                <div class="assistant-card">
                  <div class="message-content">
                    <div *ngIf="message.content !== '';else empty" [innerHtml]="message.sanitizedContent"></div>
                    <ng-template #empty>
                      <div class="p-2 bg-transparent"></div>
                    </ng-template>
                    <div *ngIf="message.isStreaming"
                         class="streaming-dot-container">
                      <div class="spinner">
                        <div class="spinner1"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="gap"></div>
          </div>
        </div>
        <div *ngIf="showForm; else lol">
          <div class="assistant">
            <div class="assistant-content">
              <!-- Logo -->
              <div class="logo-container">
                <img src="../../../../../assets/whiteDina.png"
                     alt="Dina Logo"
                     class="logo-image"
                     height="23"
                     width="23"/>
              </div>
              <!-- Message Content -->
              <div class="assistant-card">
                <div class="message-content">
                  <div>
                    <app-document-form
                      [formFields]="formFields"
                      (generate)="handleGenerate($event)">                 >
                    </app-document-form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="payment; else lol">
          <div class="assistant">
            <div class="assistant-content">
              <!-- Logo -->
              <div class="logo-container">
                <img src="../../../../../assets/whiteDina.png"
                     alt="Dina Logo"
                     class="logo-image"
                     height="23"
                     width="23"/>
              </div>
              <!-- Message Content -->
              <div class="assistant-card">
                <div class="message-content">
                  <div>
                    <app-payment>                 >
                    </app-payment>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #lol></ng-template>
        <div class="messageBox">
          <textarea #messageArea [(ngModel)]="inputMessage" required="" placeholder="Разговарај со Дина ..." type="text"
                    id="messageInput" (keydown)="handleKeyDown($event, messageArea)" rows="1" (input)="autoResize()"
          >
          </textarea>
          <div class="send-button">
          <button id="sendButton" (click)="sendMessage()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663">
              <path
                fill="none"
                d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
              ></path>
              <path
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="33.67"
                stroke="#6c6c6c"
                d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
              ></path>
            </svg>
          </button>
          </div>
        </div>

        <div id="block1">
        </div>
      </div>
    </div>
  </div>
</div>
