/* Reset */
body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Poppins, serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: transparent;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffcc00;
}

.hero {
  text-align: center;
  background: #1e1f22;
  background-size: 300% 300%;
  animation: gradient-animation 18s ease infinite;
  color: #fff;
  padding: 6rem 2rem;
  flex: 1;
  position: relative;
  z-index: 1;
}

#bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the background is behind other docs-content */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.blobHome {
  background: linear-gradient(200deg, #0bc94a 0%, #752bec 100%);
  height: 400px;
  width: 400px;
  aspect-ratio: 1;
  position: absolute;
  top: 10%; /* Positioned more to the top */
  left: 10%; /* Positioned more to the left */
  transform: translate(-50%, -50%); /* Center the blob relative to its position */
  border-radius: 50%;
  filter: blur(90px);
  z-index: -2; /* Blob stays behind pulsating background */
  animation: sway 7s ease-in-out infinite; /* Faster animation (3 seconds) */
}

@keyframes sway {
  0%, 100% {
    transform: translate(-50%, -50%) rotate(-10deg) translateY(-50px) translateX(-20px); /* Sway to the left */
  }
  50% {
    transform: translate(-50%, -50%) rotate(10deg) translateY(50px) translateX(20px); /* Sway to the right */
  }
}

/* Second blob - positioned more to the right and bottom */
.blobHome2 {
  background: linear-gradient(200deg, #0bc94a 0%, #752bec 100%);
  height: 400px;
  width: 400px;
  aspect-ratio: 1;
  position: absolute;
  bottom: 05%; /* Positioned more to the bottom */
  right: 10%; /* Positioned more to the right */
  transform: translate(50%, 50%); /* Center the blob relative to its position */
  border-radius: 50%;
  filter: blur(110px);
  z-index: -2; /* Blob stays behind pulsating background */
  animation: sway2 8s ease-in-out infinite; /* Faster animation (3 seconds) */
}

@keyframes sway2 {
  0%, 100% {
    transform: translate(50%, 50%) rotate(80deg) translateY(-30px); /* Sway right and up */
  }
  50% {
    transform: translate(50%, 50%) rotate(-80deg) translateY(30px); /* Sway left and down */
  }
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}


.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero button {
  background: linear-gradient(45deg, #008080, #43E1B0);
  color: #fff;
  border: none;
  padding: 0.40rem 1.75rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: Poppins, serif;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

.hero button:hover {
  background: linear-gradient(45deg, #008080, #43E1B0);
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.1);
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 3rem 1rem;
}

.feature {
  text-align: center;
  background-color: transparent;
  border: 3px solid #ddd;
  padding: 2rem;
  flex: 1;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.feature:hover {
  transform: translateY(-10px);
  background: rgb(42, 45, 49, 0.5); /* Transparent background */

  transition: 0.3s ease; /* Smooth transition */

  border: 3px solid #97FCDC; /* Adjust thickness as needed */
  /*border-image: linear-gradient(to right, #008080, #43E1B0, #97FCDC) 1;*/
  border-radius: 10px; /* Optional for rounded corners */

}

.feature:hover h3 {
  color: #43E1B0;
}


.feature h3 {
  margin-bottom: 1rem;
  color: #79DDFF;
  font-weight: bold;
  font-style: italic;
}

.feature button {
  background: linear-gradient(45deg, #298daf, #79DDFF);
  font-size: 15px;
  width: 130px;
  padding: 0;
  height: 30px;
}

.feature:hover button {
  background: linear-gradient(45deg, #008080, #43E1B0);
}

.feature p {
  color: #fff;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  margin-top: auto;
}

footer p {
  font-size: 0.875rem;
}
