<div class="page">
  <div class="container" #container>
    <section class="section" id="section1">
      <!--      <app-moving-points class="moving-balls"></app-moving-points>-->
      <div class="flex flex-col justify-center items-center">

        <div id="header" class="mt-4  flex w-full h-full justify-between items-center">
          <div class="flex justify-center items-center gap-3">
            <img src="../../../../../assets/ai_logo.svg.png" height="100"
                 width="100" class="logo-image"/>
            <p class="lol3" (click)="navigateToLink('home')">Remora AI</p>
          </div>

          <div class="flex justify-center items-center lol">
            <app-underlining-text (click)="navigateToLink('services')" [text]="'Services'"></app-underlining-text>
            <app-underlining-text (click)="navigateToLink('about-us')" [text]="'About us'"></app-underlining-text>
            <app-underlining-text [text]="'Sign in'" (click)="navigateToLink('/login')"></app-underlining-text>

            <button class="blue-button">
              <span class="text">Register</span>
            </button>
          </div>
        </div>

        <!--        <div class="w-full h-[10px] bg-transparent">-->

        <!--        </div>-->

        <div id="text" class="main-section">
          <div class="left-section">
            <app-company-title class="mb-[200px]"></app-company-title>
          </div>
          <div class="right-section">
            <img src="../../../../../assets/ai_logo.svg.png" height="200"
                 width="200" class="big-logo"/>
          </div>
        </div>


      </div>
    </section>
    <section class="compact-session" id="section2">
      <div class="main-section1">
        <div class="right-section1">
          <app-title-button-card></app-title-button-card>
        </div>
        <div class="left-section1">
          <app-browswer-frame></app-browswer-frame>
        </div>
      </div>
    </section>
    <section class="compact-session" id="section3">

      <app-quote-shower></app-quote-shower>

    </section>

    <section class="compact-session" id="section4">
      <div class="four-cards">
        <app-image-card [imageUrl]="'../../../../assets/image.png'"
                        [title]="'The Ultimate Team Orchestrator'"
                        [description]="'Remora doesn’t just manage tasks—it understands your team. Delegate work, track progress, and resolve bottlenecks through natural  conversation. Perfect for remote teams and managers who want to focus on  strategy, not micromanagement.'"
        ></app-image-card>
        <app-image-card [imageUrl]="'../../../../assets/frontdoor.png'"
                        [title]="'The Company’s Digital Front Door'"
                        [description]="'Debug, document, or build entire features with Remora as your co-developer. It speaks Python, SQL, and 20+ other languages—and  explains concepts like a senior engineer. Commit cleaner code, faster.'"
        ></app-image-card>
        <app-image-card [imageUrl]="'../../../../assets/ai_pair.png'"
                        [title]="'Your AI Pair Programmer'"
                        [description]="'New hire? Veteran employee? Remora is the single point of truth for policies, docs, and team knowledge. Ask about payroll, project history,  or even where the best lunch spots are near the office.'"
        ></app-image-card>
        <app-image-card [imageUrl]="'../../../../assets/automation.png'"
                        [title]="'Automation Without the Headache'"
                        [description]="'From syncing calendars to scraping data across platforms, Remora turns ‘manual’ into ‘automatic’—no API expertise required. Just say what you  need repetitive, and consider it done.'"
        ></app-image-card>

      </div>
    </section>
    <div class="w-full h-[150px]">

    </div>
    <section class="section" id="section6">
      <app-no-cost-section></app-no-cost-section>
    </section>

    <section class="compact-session">
      <app-footer></app-footer>
    </section>
  </div>
</div>
