<app-blob
  [background]="'linear-gradient(200deg, #D0312D 0%, #efcc00 100%)'"
  [left]="'10%'"
  [top]="'10%'"
  [blurEffect]="'blur(110px)'"
  [animation]="'sway 8s ease-in-out infinite !important'">
</app-blob>
<div class="container" #container>
  <section class="section" id="section1">
    <div class="flex flex-col justify-center items-center">
      <div id="header" class="mt-4 px-12 flex w-full h-full justify-between items-center">
        <div class="flex justify-center items-center gap-3">
          <img src="../../../../../assets/dina_logo.png" class="h-16 w-16"/>
          <div class="ml-2.5 w-1.5 h-[52px] bg-gray-700 rounded">
          </div>
          <img src="../../../../../assets/ministerstvo-logo.png" height="72" width="421"/>
        </div>
        <div class="flex justify-center items-center lol">
          <p class="lol3">МДТ</p>
          <p class="lol3">Примери</p>
          <p class="lol3">За Дина</p>
          <div class="w-1.5 h-[52px] bg-gray-300 rounded">
          </div>
          <button class="lol3" (click)="navigateToLink('/login')">Најави се</button>
          <button class="lol4 inline-flex items-center justify-center px-8 py-3.5 text-sm
      text-white no-underline transition-all duration-200 bg-gradient-to-r from-[#ff3131] to-[#ff904d]
      rounded-lg hover:scale-105 active:scale-95 shadow-lg
      hover:shadow-blue-500/40 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
                  (click)="navigateToLink('/sign-in')">
            Регистрирај се
          </button>
        </div>
      </div>

      <div class="w-full h-[150px] bg-transparent">

      </div>

      <div id="text" class="flex flex-col justify-center items-center">
        <p class="lol1 dina-heading">ДИНА</p>
        <p class="lol2 tagline">Национален административен асистент!</p>
      </div>

      <div class="w-full h-[80px] bg-transparent">

      </div>

      <div id="buttons" class="flex justify-center items-center">
        <button class="lol4 inline-flex items-center justify-center px-8 py-3.5 text-sm font-semibold
      text-white no-underline transition-all duration-200 bg-gradient-to-r from-[#ff3131] to-[#ff904d]
      rounded-xl hover:scale-105 active:scale-95 shadow-lg
      hover:shadow-blue-500/40 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-[210px]  h-[60px]"
                (click)="navigateToLink('chat')">
          Прашај ја ДИНА!
        </button>
        <div class="w-[300px] h-full bg-transparent">
        </div>
        <button class="lol4 inline-flex items-center justify-center px-8 py-3.5 text-[12px]
      text-white no-underline transition-all duration-200 bg-gradient-to-r bg-gray-900
      rounded-xl hover:scale-105 active:scale-95 shadow-lg
      hover:shadow-blue-500/40 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 w-[210px] h-[60px]">
          Превземи ја Апликацијата
        </button>
      </div>
    </div>
  </section>
  <section class="section" id="section2">
    <div class="flex flex-col md:flex-row justify-center items-center h-full w-full gap-5 md:gap-[100px]">
      <div class="card">
        <div class="bg">
          <div class="upper-div">

            <img src="../../../../../assets/seachingf.png" class=" w-[300px] "/>
          </div>
          <div class="lower-div">
            <div class="title-div">

              <p class="text-[#333] text-lg font-semibold md:text-xl text-center px-2  pb-3 lol5">Информирај се!</p>
            </div>
            <div class="content-div">
              <p class="text-[#333] text-m md:text-base ml-6 px-8 lol6">Информирајте се за сите
                услуги, постапки, и
                фунскционалности на
                државата администрација.</p>
            </div>
          </div>
        </div>
        <div class="blob"></div>
      </div>

      <div class="card">
        <div class="bg">
          <div class="upper-div">
            <img src="../../../../../assets/registering.png" class="w-[300px]"/>
          </div>
          <div class="lower-div">
            <div class="title-div">

              <p class="text-[#333] text-xl font-semibold md:text-xl text-center px-2  pb-3 lol5">Аплицирај!</p>
            </div>
            <div class="content-div">
              <p class="text-[#333] text-sm md:text-base ml-6 px-8 lol6">Извршете аплицирање за
                услуга преку разговорен
                дијалог со ДИНА.</p>
            </div>
          </div>
        </div>
        <div class="blob"></div>
      </div>

      <div class="card">
        <div class="bg">
          <div class="upper-div">
            <img src="../../../../../assets/globe.png" class="w-[220px]"/>
          </div>
          <div class="lower-div">
            <div class="title-div">
              <p class="text-[#333] text-lg font-semibold md:text-xl text-center px-2 pb-3 lol5">Добиј ја услугата!</p>
            </div>
            <div class="content-div">

              <p class="text-[#333] text-sm md:text-base ml-6 px-8 lol6">Добијте ја услугата најбрзo,
                најбезбедно на било кое
                место и во било кое време.</p>
            </div>
          </div>
        </div>
        <div class="blob"></div>
      </div>

    </div>
  </section>
  <section class="section"></section>
</div>

<ul class="dots">
  <li
    *ngFor="let dot of dotsArray; let i = index"
    [class.active]="i === activeIndex"
    (click)="scrollToSection(i)">
  </li>
</ul>
<app-blob
  [background]="'linear-gradient(100deg, #D0312D 0%, #efcc00 100%)'"
  [bottom]="'0%'"
  [right]="'0%'"
  [left]="'90%'"
  [top]="'85%'"
  [blurEffect]="'blur(150px)'"
  [animation]="'sway2 7s ease-in-out infinite !important'">
</app-blob>
