<div class="container">
  <div class="tabs">
    <div class="tab" [class.active]="selectedStatus === 'code'" (click)="changeDisplayUrls('code')">Code</div>
    <div class="tab" [class.active]="selectedStatus === 'docs'" (click)="changeDisplayUrls('docs')">Docs</div>
  </div>

  <div *ngIf="selectedStatus==='docs';else code">
    <div class="card"
         *ngFor="let url of displayedUrls"
    >

      <a class="card-label"
         [routerLink]="['/docs-files']"
         [queryParams]="{ prevLink: url.url, docs_url: url.url }"
         (click)="refresh()">
        {{ url.url }}
      </a>
    </div>
  </div>

  <ng-template #code>
    <div class="card"
         *ngFor="let url of displayedUrls"
    >

      <a class="card-label"
         [routerLink]="['/code-process']"
         [queryParams]="{ prevFolder: getCodeFolder(url.url), git_url: url.url }"
         (click)="refresh()">
        {{ url.url }}
      </a>
    </div>
  </ng-template>
</div>
