<body class="bg-wrapper">
<header>
  <div class="logo">
    <img src="../../assets/logoTransparent.png" alt="Logo" class="logo-img">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    Code Explore
  </div>
</header>


<section>
  <div class="blob"></div>
  <div class="container">
    <!--  <div class="tabs">-->
    <!--    <div class="tab" [class.active]="selectedStatus === 'code'" (click)="changeDisplayUrls('code')">Code</div>-->
    <!--    <div class="tab" [class.active]="selectedStatus === 'docs'" (click)="changeDisplayUrls('docs')">Docs</div>-->
    <!--  </div>-->

    <div *ngIf="selectedStatus==='docs';else code">
      <div class="card"
           *ngFor="let url of displayedUrls"
      >

        <a class="card-label"
           [routerLink]="['/docs-files']"
           [queryParams]="{ prevLink: url.url, docs_url: url.url }"
           (click)="refresh()">
          {{ getLabel(url.url) }}
        </a>
        <label class="switch">
          <div *ngIf="url.loaded; else loading1">
            <input type="checkbox"
                   [checked]="url.active"
                   (change)="toggleUrlActive(url)"
            >
            <span class="slider round"></span>
          </div>
          <ng-template #loading1>
            <img src="/assets/loading-gif-black.gif" alt="Loading..." height="40" width="40"/>
          </ng-template>
        </label>
      </div>
    </div>

    <ng-template #code>
      <div class="card"
           *ngFor="let url of displayedUrls"
      >

        <a class="card-label"
           [routerLink]="['/code-process']"
           [queryParams]="{ prevFolder: getCodeFolder(url.url), git_url: url.url }"
           (click)="refresh()">
          {{ url.url }}
        </a>

        <label class="switch">
          <ng-template *ngIf="url.loaded; else loading">
            <input type="checkbox"
                   [checked]="url.active"
                   (change)="toggleUrlActive(url)">
            <span class="slider round"></span>
          </ng-template>
          <ng-template #loading>
            <span>Loading...</span>
          </ng-template>
        </label>

      </div>
    </ng-template>
  </div>
</section>
</body>
